@model SnackListViewModel;

<div>
    <h2>@Model.CurrentCategory</h2>
</div>


<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Snacks)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p><img src="@lanche.ImageUrl" class="img-fluid" /></p>
                <h3>Preço: @lanche.Price.ToString("c")</h3>
                <h4>@lanche.SnackName</h4>
                <p>@lanche.ShortDescription</p>
            </div>
        }
    </div>
</div>

